{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div class="add_notes">
        <a href="{% url 'add_notes' %}">
            <i class="fa fa-plus" aria-hidden="true"></i>
        </a>
        <span class="tooltiptext">add posts</span>
    </div>
    <div class="post">
        <header>
            <a href="{% url 'home' %}">
                <i class="fa fa-home" aria-hidden="true"></i>
            </a>&nbsp;&nbsp;
            {% if user.is_authenticated %}
            <a href="{% url 'user_logout' %}">
                logout
            </a>
            {% else %}
            <a href="{% url 'user_login' %}">login</a>
            {% endif %}
            <h3>
                welcome {{user.username}}
            </h3>
            <br>
            {% if user.is_authenticated %}
                <a href="{% url 'password_change' %}">change password</a>
                {% if user.profile.id %}
                    &nbsp;&nbsp; <a href="{% url 'view_profile' %}">view profile</a>
                {% else %}
                    &nbsp;&nbsp; <a href="{% url 'create_profile' %}">create profile</a>
                {% endif %}
                &nbsp;&nbsp; <a href="{% url 'profile' %}">settings</a>
            {% endif %}
            {% if user.is_authenticated %}
                <h1>{{user.first_name}} {{user.last_name}}</h1>
            {% else %}
                <h1>please login before you can access anything</h1>
            {% endif %}
        </header>
        {% for post in posts %}
            <div class="posts">
                <div class="top">
                    {% if request.user == post.users %}
                        <a href="{% url 'view_post' post.slug %}">
                            <h1>{{post.title|slice:'100'}}</h1>
                        </a>
                    {% else %}
                        <a href="{% url 'comment' post.slug %}">
                            <h1>{{post.title|slice:'100'}}</h1>
                        </a>
                    {% endif %}
                </div>
                <p>
                    {% if request.user == post.users %}
                        <a href="{% url 'view_post' post.slug %}">
                            {{post.content|slice:'200'}}.........
                        </a>
                    {% else %}
                        <a href="{% url 'comment' post.slug %}">
                            {{post.content|slice:'200'}}.........
                        </a>
                    {% endif %}    
                </p>
                <div class="options">
                    <div>
                        {% if post.users.profile.profile_pic %}
                        <img src="{{post.users.profile.profile_pic.url}}" alt="" >
                        {% else %}
                        <img src="{% static 'img/avatar.jpg' %}" alt="" >
                        {% endif %} <a href="{% url 'profile_page' post.users.id %}"> {{post.users.first_name}} {{post.users.last_name}}</a> 
                    </div>
                    <div class="comment"><a href="{% url 'comment' post.slug %}"><i class="fa fa-comment" aria-hidden="true"></i></a></div>
                    <div class="share"><a href=""><i class="fa fa-share" aria-hidden="true"></i></a></div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}