{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div class="post">
        <header>
            <a href="{% url 'user_login' %}">
                login
            </a>
            <a href="{% url 'home' %}">
                <i class="fa fa-home" aria-hidden="true"></i>
            </a>
            <h1>reset password</h1>
        </header>
        <div class="login">
          <form method="POST" class="form-signin">{% csrf_token %}
              <h1 class="h3 mb-3 font-weight-normal">Reset password</h1>
              <input name="email" class="form-control" placeholder="Email address" type="email" id="id_email" required="true">
              <button class="btn btn-lg btn-primary btn-block" type="submit">Send reset email</button>  
          </form>
        </div>
    </div>
{% endblock %}
  