{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div class="post">
        <header>
            <h1>reset password</h1>
        </header>
        <div class="login">
          <form method="POST">
            {% csrf_token %}
            <input type="password" name="new_password1" placeholder="new password"><br>
            <input type="password" name="new_password2" placeholder="confirm password"><br>
            {% for field in form %}
            {% for error in field.errors %}
              <p style="color: red">{{ error }}</p>
            {% endfor %}
            {% endfor %}
            <button type="submit">Change Password</button> 
          </form>
        </div>
    </div>
{% endblock %}
  